html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.title_box {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.1;
}
.title_case {
    width: 150px;
    height: 100%;
    margin: 0 auto;
    font-size: 10pt;
}
.title_cover {
    width: 100%;
    height: 100%;
    display: table;
}
.title {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}
.button {
    width: 100%;
    height: 150px;
    margin: 15px 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#youtube {
    background-image: url('youtube.png');
}
#instagram {
    background-image: url('instagram.png');
}
#wordpress {
    background-image: url('wordpress.png');
}